.Recommend {
    background: #fdfdfdc7;
    padding: 0.3rem;
    padding-bottom: 3.5rem;
    .cards {
        padding-top: 0.4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
}